@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
    font-family: "Epilogue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
  }

  body {
    overflow-y: scroll;
    height: 100%;
    line-height: 1.5;
    background-color: var(--Almost-White);
  }
  img {
    max-width: 100%;
    display: block;
  }
  ul, li {
    margin:0;
    padding: 0;
    list-style: none;
  }
.outlined-btn,
.transparent-btn {
  padding: 1rem 2rem;
  border-radius: 15px;
  color: var(--Medium-Gray);
  cursor: pointer;
  background-color: transparent;
}
.transparent-btn {
  border: none;
}
.transparent-btn:hover {
  color: var(--Almost-Black);
  font-weight: 700;
}
.outlined-btn {
  border: 1px solid var(--Almost-Black);
}
.outlined-btn:hover {
  color: var(--Almost-Black);
  font-weight: 700;
}
.hero-btn {
  background-color: var(--Almost-Black);
  width: fit-content;
  padding: 1rem 2rem;
  color: var(--Almost-White);
  border-radius: 10px;
  cursor: pointer;
}
.hero-btn:hover {
    background-color: var(--Almost-White);
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
    font-weight: 700;
  }
  header {
    display: flex;
    max-width: 1440px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 40px;
    margin-inline: auto;
  }
  nav {
    display: none;
  }
  .menu-icon {
    cursor: pointer;
    z-index: 99;
    position: fixed;
    margin-left: 85%;
  }
  header.active nav {
    display: flex;
    flex-direction: column;
  }
  nav ul a, nav ul button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--Medium-Gray);
    text-decoration: none;
    align-items: center;
    border: none;
  }

   .sub-menu-1 li {
   display: flex;
   align-items: center;
   gap: 1rem;
  }
  .sub-menu-1, .sub-menu-2{
    display:none;
  }

  .features-button, .company-button {
    position: relative;
  }
  h1 img {
    width: 100px;
  }
  main,.remote, .info {
    display: flex;
    flex-direction: column;
  }
  .remote {
    gap: 6rem;
  }
  .info {
    text-align: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
  }
  main {
    gap: 8rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .info p{
    color: var(--Medium-Gray);
    font-size: 18px;
    font-weight: 700;
    width: 90%;
    line-height: 1.5rem;
  }
  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
  .logos img{
    max-width: 70px;
    height: 100%;
    object-fit: contain;
  }
  .nav-btns {
    align-items: center;
    gap: 20px;
  }
  .attribution { 
    font-size: 11px; 
    text-align: center; }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
}
  @media screen and (min-width: 1100px) {
    main{
      display: grid;
      grid-template-columns: 35rem 1fr;
      margin: 0 auto;
      gap: 8rem;
      max-width: 1000px;
      justify-content: center;
      margin-top: 2.5rem;

    }
   .hero {
    content: url("./images/image-hero-desktop.png");
    object-fit: cover;
    grid-column: 2;
    max-width: 500px;
   }
   .remote {
    grid-row: 1;
   }
   header {
    gap: 60px;
   }
   nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   }
   nav ul {
    display: flex;
    flex-direction: row;;
   }
   .remote {
    max-width: 95%;
    margin-top: 100px;
    margin-left: 40px;
   }
   .info{
    text-align: left;
    align-items: flex-start;
    padding: 0;
   }
   .menu ul {
    gap: 40px;
   }
   .menu-icon{
    display: none;
   }
   .logos{
    justify-content: space-between;
   }
   .logos img{
    max-width: 100px;
   }
  }